.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
    transition: all .3s ease;
    z-index: 5;
    position: fixed;

    @media (max-width: 768px) {
        padding: 10px 20px;
    }

    &--scrolled {
        background-color: white;
        border-bottom: 1px #CACACA solid;
        box-shadow: 0 1px 20px 7px rgb(0 0 0 / 15%);
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 185px;
            height: 74px;
            object-fit: contain;
            margin: 0;

            @media (max-width: 768px) {
                width: 140px;
                height: 50px;
            }
        }
    }

    &__menu {
        margin-left: 137px;
        margin-left: 8.5rem;

        @media (max-width: 1366px) {
            margin-left: 3rem;
        }

        ul {
            display: flex;
            gap: 40px;
            list-style: none;
        }
    }

    &__actions {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        gap: 34px;

        @media (max-width: 1280px) {
            display: none;
        }

        i {
            height: 16px;
            width: 16px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__button {
        width: 120px;
        height: 47px;
    }
}