.hero {
    padding-top: 180px;
    background: linear-gradient(180deg, #e5efff 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
    display: flex;
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 2rem;

    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 7rem;
    }

    &__content {
        z-index: 1;
        padding-top: 100px;
        margin-left: 14rem;
        max-width: 1100px;

        @media (max-width: 1600px) {
            margin-left: 5rem;
        }
    }

    &__buttons {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__image {
        z-index: 1;
        align-self: flex-end;
        width: fit-content;

        @media (max-width: 1024px) {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__title {
        font-size: 85px;
        line-height: 95px;
        font-weight: 700;
        color: #272d4e;
    }

    &__subtitle {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        max-width: 720px;
        color: #94a2b3;
        margin: 20px 0;
    }

    &__button {
        margin: 10px 10px 0 0;
        width: 267px;
        height: 72px;
        border-radius: 60px;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }

    &__link {
        width: 199px;
        height: 25px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #94a2b3;
        white-space: nowrap;


        a {
            margin-left: 10px;
            text-decoration: none;
            color: #299EF3;
            font-weight: 700;
            text-align: center;
        }
    }

    &::before {
        content: "";
        position: absolute;
        background-image: url("../../assets/letter.png");
        background-repeat: no-repeat;
        background-position: top right;
        width: 1767px;
        height: 1666px;
        top: 0;
        right: 0;
        z-index: 0;
    }
}
