@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-family: 'Roboto', sans-serif;
$font-weight-mega-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-bold: 500;
$btn-purple: #7854F7;
$btn-green: #70C217;
$font-blue: #299EF3;
$font-black: #272D4E;
$font-white: #FFFFFF;
$font-grey: #94A2B3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-weight: $font-weight-regular;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 18px;
  line-height: 21px;

  &--purple {
    background-color: $btn-purple;
    color: $font-white;
  }

  &--green {
    background-color: $btn-green;
    color: $font-white;
  }

  &--transparent {
    border: 2px solid $font-white;
    background-color: transparent;
    color: $font-white;
    font-weight: $font-weight-mega-bold;
  }

  &--rounded {
    border-radius: 60px;
  }
}

.title {
  font-weight: 700;
  color: $font-black;

  &--principal {
    font-size: 85px;
    line-height: 95px;

    @media (max-width: 768px) {
      font-size: 45px;
      line-height: 45px;
    }
  }

  &--secondary {
    display: block;
    margin: 0 auto;
    width: 457px;
    height: 140px;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    margin-bottom: 55px;

    @media (max-width: 768px) {
      font-size: 45px;
      line-height: 45px;
      width: fit-content;
      padding: 0 15px;
    }
  }

  &--article {
    font-size: 36px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
  }

  &--testimonials {
    margin-bottom: 110px;
  }

  &--footer {
    margin-bottom: 30px;
    height: auto;
    width: 100%;
  }

  &--white {
    color: $font-white;
  }

  &--thin {
    font-weight: 300;
  }
}

.text {
  font-family: $font-family;
  font-weight: $font-weight-regular;

  &--base {
    color: $font-grey;
    font-size: 18px;
    line-height: 25px;
    max-width: 720px;
  }

  &--white {
    color: $font-white;
    max-width: 480px;
    line-height: 30px;
  }

  &--large {
    font-size: 26.7px;
    line-height: 40px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &--center {
    text-align: center;
  }
}

.link {
  color: $font-black;
  text-decoration: none;
  font-weight: $font-weight-bold;
  font-size: 1.1rem;
  white-space: nowrap;

  &--blue {
    color: $font-blue;
    font-weight: $font-weight-mega-bold;
    text-align: center;
  }
}